/*Variables*/
/*Global Component*/
body h1 {
  color: #fff;
  font-size: 17px;
  line-height: 0; }

.col-sm-6.col-xs-12 {
  padding: 0; }

.link {
  cursor: pointer; }

header {
  background-color: #43E895;
  padding: 24px 12px 6px; }
  header img {
    height: 40px; }

footer {
  background: #2A2A2A;
  color: #fff;
  padding: 10px 0; }
  footer a {
    color: #fff;
    opacity: .6; }
  footer a.active, footer a:focus, footer a:hover {
    color: #fff;
    cursor: pointer;
    opacity: 1;
    text-decoration: none; }
  footer img {
    height: 30px; }

/*List Component*/
.list-info {
  background: url("/assets/cuts/cellGradientBackground@2x.png") bottom repeat-x;
  color: #fff;
  height: 100%;
  padding: 12px 6px;
  position: absolute;
  width: 100%; }

.list-name {
  bottom: 18px;
  font-size: 16px;
  margin: 0 0 6px 0;
  position: absolute; }

.list-cat {
  bottom: 6px;
  font-size: 12px;
  margin: 0;
  position: absolute; }

.list-section {
  position: relative;
  width: 100%; }

.list-img {
  width: 100%; }

/*Detail Component*/
agm-map {
  height: 180px; }

.detail-header {
  background-color: #34B379;
  color: #fff;
  height: 60px; }

.detail-name {
  font-size: 16px;
  margin: 0 0 6px 0;
  padding: 12px 12px 0px 12px; }

.detail-cat {
  font-size: 12px;
  margin: 0;
  padding: 0px 12px 12px 12px; }

.detail-info {
  font-size: 16px;
  padding: 16px 12px; }
  .detail-info .detail-address, .detail-info .detail-phone-number {
    margin-bottom: 26px; }
